{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">

{% block content %}

<div class="row" >
    <div class="col-md-10 offset-1">
        <br />
        <h4>Pedido</h4>
            <div class="row ">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <form action="" method="POST" class="d-grid" enctype="multipart/form-data" >
                                
                                {% csrf_token %}
                                {{form.as_p}}
                                <input id="formulario" type="submit" value="Guardar pedido" name="submit" class="btn btn-outline-primary ms-5 mt-5">
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
    
    </div>
  </div>
  
  <div class="row mx-2" > 
    <div class="col-md-12">
      <br />
      <h4>Pedidos</h4>
      <hr />
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th>Pedido #</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>dirección</th>
            <th>domiciliario</th>
            <th>fecha</th>
            <th>Editar</th>
            <th>Borrar</th>
            
          </tr>
          {% for pedido in pedidos %}
          <tr>
              <td> {{pedido.id}}</td>
              <td>{{pedido.nombre}} </td>
              <td>${{pedido.total|intcomma}} </td>
              <td>{{pedido.direccion}} </td>
              <td>{{pedido.direccion}} </td>
              <td>{{pedido.domiciliario}} </td>
              <td>{{pedido.fecha}} </td>

              <td><a href="{% url 'update_pedido' pedido.id %}" class="btn btn-primary mostrar"> Editar</a></td>
              <td><a href="{% url 'borrar_pedido' pedido.id %}" class="btn btn-danger mostrar"> Borrar</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  

  
{% endblock content %}

{% block script %}
  <script type="text/javascript">
    const btn = document.querySelector(".mostrar");
    const formulari = document.querySelector('#formulario');
    btn.addEventListener('click', function(){
        formulari.classList.remove("hidden")
     
    })


  </script>
{% endblock script %}