{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row" >
    <div class="col-lg-8" style="position:absolute; left:0;">
        <div class="row">
            {% for product in productos %}
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <img class="thumbnail" src=" {{product.imagenURL}} " alt="">
                    <div class="box-element product">
                        <h6><strong>{{product.nombre}}</strong></h6>
                        <hr>

                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar</button>
                        <a href="" class="btn btn-outline-success" >Ver</a>
                        <h4 style="display:inline-block;float:right"><strong>${{product.precio|intcomma}}</strong></h4>
                    </div>
                </div>
            {% endfor %}   
        </div>
    </div>
    <div class="col-lg-4" style="position: fixed; right:0;">
        <div class="box-element" style="overflow:scroll; max-height:85vh">
            <div class="box-element" id="form-wrapper" >
                <h3>Resumen de pedido</h3>
                <hr>
                
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.producto.imagenURL}}"></div>
                    <div style="flex:2"><p> {{item.producto.nombre}} </p></div>
                    <div style="flex:1"><p> ${{item.producto.precio|intcomma}} </p></div>
                    <div style="flex:1">
                        <p class="quantity"> {{item.cantidad}} </p>
                        <div class="quantity">
                            <img data-product="{{item.producto.id}} " data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                    
                            <img data-product="{{item.producto.id}} " data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                        </div>
                    </div>
                </div>
                {% endfor %}
                <h5>Productos: {{pedido.get_cart_items}} </h5>
                <h5>Total:  ${{pedido.get_cart_total|intcomma}} </h5>
            </div>
            <hr>

            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            method="GET" style="width:70%">
              {% csrf_token %}
              <div class="input-group" >
                <input type="text" class="form-control bg-light border-1 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}" style="width:70%;">
                <div class="input-group-append">
                  <button class="btn btn-primary " type="submit" >
                    <i class="fas fa-search fa-sm">Buscar</i>
                  </button>
                </div>
              </div>
            </form>



            <hr>
            <div class="box-element" id="form-wrapper" >
                <form id="form">
                    



                    <div class="card card-body">
                        <table class="table table-sm">
                          <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Dirección</th>
                            <th>Valor del domi</th>
                            <th>Peticiones particulares</th>
                            <th>Editar</th>
                            
                          </tr>
                          {% for cliente in clientes %}
                          <tr>
                              <td>{{cliente.nombre}} </td>
                              <td>{{cliente.telefono}} </td>
                              <td>{{cliente.direccion}} </td>
                              <td>${{cliente.valor_domi|intcomma}} </td>
                              <td>{{cliente.pet_particulares}} </td>
                              <td><a class="btn btn-primary chg-quantity update_customer" data-cliente="{{cliente.id}} " data-action="add">Add</a></td>
                
                          </tr>
                          {% endfor %}
                        </table>
                      </div>



                    
                </form>
    
            </div>

		</div>
    </div>
</div>
    
{% endblock content %}

