{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row" >
    <div class="col-lg-8" style="position:absolute; left:0;">
        <div class="row">
            {% for product in productos %}
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <img class="thumbnail" src=" {{product.imagenURL}} " alt="">
                    <div class="box-element product">
                        <h6><strong>{{product.nombre}}</strong></h6>
                        <hr>

                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar</button>
                        <a href="" class="btn btn-outline-success" >Ver</a>
                        <h4 style="display:inline-block;float:right"><strong>${{product.precio|intcomma}}</strong></h4>
                    </div>
                </div>
            {% endfor %}   
        </div>
    </div>
    <div class="col-lg-4" style="position: fixed; right:0;">
        <div class="box-element" style="overflow:scroll; max-height:85vh">
            <div class="box-element" id="form-wrapper" >
                <h3>Resumen de pedido</h3>
                <hr>
                
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.producto.imagenURL}}"></div>
                    <div style="flex:2"><p> {{item.producto.nombre}} </p></div>
                    <div style="flex:1"><p> ${{item.producto.precio|intcomma}} </p></div>
                    <div style="flex:1">
                        <p class="quantity"> {{item.cantidad}} </p>
                        <div class="quantity">
                            <img data-product="{{item.producto.id}} " data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                    
                            <img data-product="{{item.producto.id}} " data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                        </div>
                    </div>
                </div>
                {% endfor %}
                <h5>Productos: {{pedido.get_cart_items}} </h5>
                <h5>Total:  ${{pedido.get_cart_total|intcomma}} </h5>
            </div>
            <hr>
            <hr>
            <div class="box-element" id="form-wrapper" >
                <form id="form">
                    <p>Información de Envio:</p>
                    <hr>
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="number" name="tel" placeholder="Telefono">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="number" name="domi" placeholder="Valor del domicilio">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="nombre" placeholder="Nombre">
                        </div>
                        
                        
                        <div class="form-field">
                            <input class="form-control" type="text" name="direccion" placeholder="Dirección">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="ciudad" placeholder="Ciudad">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="barrio" placeholder="Barrio">
                        </div>
                        
                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                        <a href="{% url 'create_customer' %}" class="btn btn-bg btn-warning me-5">Crear cliente</a>
                    </div>
                </form>
    
            </div>

		</div>
    </div>
</div>
    
{% endblock content %}

